/*-------------------------------------------------
    [ ## Buttons ]
*/
input[type="button"] {
	@extend button;
}
input[type="reset"] {
	@extend button;
}
input[type="submit"] {
	@extend button;
	&:hover {
		color: $white;
	}
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	cursor: pointer;
	-webkit-appearance: button;
    appearance: button;
	&:focus {
		outline: none;
	}	
}
button::-moz-focus-inner,
input::-moz-focus-inner {
	padding: 0;
	border: 0;
}
.btn {
    -webkit-transition: all 0.3s ease 0.02s;
    transition: all 0.3s ease 0.02s;
}
.btn:active,
.btn:focus {
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.125) inset;
}
.btn {
    border: 0px solid;
    border-radius: 0px;
    font-weight: 500;
    font-size: 16px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    @media only screen and (max-width: 767px) {
        font-size: 14px;
    }
}
.btn-rounded{
    border-radius: 3px;
}
.btn-capsule{
    border-radius: 100px;
}
/*-------------------------------------------------
    [ ## custom btn ]
*/
.btn--primary{
    background-color: #7367f0;
}
.btn--secondary {
    background-color: #868e96;
}
.btn--success {
    background-color: #28c76f;
}
.btn--danger {
    background-color: #d63384;
}
.btn--warning {
    background-color: #ff9f43;
}
.btn--info {
    background-color: #1e9ff2;
}
.btn--dark {
    background-color: #10163A;
}
.badge--primary{
    &::before{
        background-color: #7367f0;
    }
}
.badge--secondary {
    &::before{
        background-color: #868e96;
    }
}
.badge--success {
    &::before{
        background-color: #28c76f;
    }
}
.badge--danger {
    &::before{
        background-color: #dc3545;
    }
}
.badge--warning {
    &::before{
        background-color: #ff9f43;
    }
}
.badge--info {
    &::before{
        background-color: #1e9ff2;
    }
}
.badge--dark {
    &::before{
        background-color: #10163A;
    }
}
.border--primary{
    border: 1px solid #7367f0;
}
.border--secondary {
    border: 1px solid #868e96;
}
.border--success {
    border: 1px solid #28c76f;
}
.border--danger {
    border: 1px solid #ea5455 !important;
}
.border--warning {
    border: 1px solid #ff9f43;
}
.border--info {
    border: 1px solid #1e9ff2;
}
.border--dark {
    border: 1px solid #10163A;
}
.badge{
    position: relative;
    font-weight: 600;
    border-radius: 0;
    padding: 0;
    font-size: 14px;
    background-color: transparent;
    font-family: $font_heading;
    color: $color--heading;
    padding-left: 15px;
    &::before{
        position: absolute;
        content: '';
        top: 3px;
        left: 0;
        width: 8px;
        height: 8px;
        border-radius: 50%;
    }
}
.btn--base {
    border: medium none;
    border-radius: 5px;
    color: $white;
    display: inline-block;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 1;
    margin-bottom: 0;
    text-align: center;
    text-transform: uppercase;
    touch-action: manipulation;
    transition: all 0.3s;
    vertical-align: middle;
    white-space: nowrap;
    position: relative;
    z-index: 1;
    background: transparent;
    padding: 12px 20px;
    margin: 0 8px;
    &.small{
        padding: 8px 15px;
    }
    &::before {
        content: "";
        position: absolute;
        right: -13px;
        top: 0;
        height: 100%;
        width: 5px;
        transform: skewX(-16deg);
        z-index: 1;
        opacity: 1;
        background-image: none;
        bottom: 0;
        border-radius: 0;
        left: auto;
        background-color: $base--color;
        transition: all 0.3s;
    }
    &::after {
        content: "";
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        width: 100%;
        transform: skewX(-16deg);
        z-index: -1;
        opacity: 1;
        background-image: none;
        bottom: 0;
        border-radius: 0;
        left: auto;
        background-color: $base--color;
        transition: all 0.3s;
    }
    &:hover {
        transition: all 0.3s;
        color: $white;
        &::before{
            right: 0;
            transition: all 0.3s;
            color: $white;
        }
    }
    @media only screen and (max-width: 991px) {
        padding: 10px 18px;
        font-size: 13px;
    }
}

// svg icon containing btn--bae 
.btn--base svg {
    width: 20px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    margin-left: 5px;
    fill: #ffffff;
}
.custom-btn{
    font-size: 16px;
    color: $color--text;
    font-weight: 500;
    @media only screen and (max-width: 575px) {
        font-size: 14px;
    }
}
.info-btn {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $section--bg;
    border-radius: 5px;
    color: $white;
    font-size: 18px;
    display: none;
    @media only screen and (max-width: 991px) {
        display: flex;
    }
}
.chat-cross-btn {
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #dc3545;
    border-radius: 5px;
    color: $white;
    font-size: 16px;
    display: none;
    @media only screen and (max-width: 991px) {
        display: flex;
    }
}

// btn outline
.btn--outline {
    position: relative;
    background: transparent;
    border: 2px solid $white ;
    border-radius: 5px;
    color: $section--bg;
    font-family: $font_heading;
    padding: 16px 35px; // Slightly less padding to account for border
    font-size: 15px;
    font-weight: 700;
    text-align: center;
    overflow: hidden;
    z-index: 2;
    transition: all ease 0.5s;
    
    &::before {
        content: "";
        position: absolute;
        height: 100%;
        width: 0;
        background: $section--bg;
        transform: skew(50deg);
        transform-origin: top left;
        top: 0;
        left: -100%;
        z-index: -1;
        transition: all ease 0.5s;
    }
    
    svg {
        width: 20px;
        transform: rotate(-45deg);
        margin-left: 5px;
        fill: $section--bg;
        transition: all ease 0.5s;
    }
    
    i {
        font-size: 18px;
        position: relative;
        top: 1px;
        transition: all ease 0.5s;
    }
    
    &.active {
        background: transparent;
        color: $base--color;
        
        &::before {
            background: $base--color;
        }
        
        &:focus,
        &:hover {
            color: $white;
            border-color: $base--color;
            
            svg {
                fill: $white;
            }
        }
    }
    
    &:focus,
    &:hover {
        color: $white;
        border-color: $section--bg;
        
        &::before {
            width: 200%;
            height: 100%;
        }
        
        svg {
            fill: $white;
        }
    }
    
    @media only screen and (max-width: 991px) {
        padding: 8px 25px; // Adjusted for border
        font-size: 13px;
    }
}

.btn--action {
    color: $base--color;
}