/*-------------------------------------------------
    [ ## Testimonial ]
*/
.testimonial-section{
    position: relative;
    overflow: hidden;
    z-index: 2;
}
.testimonial-content-slider{
    overflow: hidden;
}
.testimonial-quote-wrapper{
    margin-bottom: 15px;
    svg{
        path{
            fill: $section--bg;
        }
    }
}
.testimonial-content{
    text-align: center;
    p{
        font-size: 28px;
        color: $color--heading;
        font-weight: 700;
        @media only screen and (max-width: 1199px) {
            font-size: 20px;
        }
        @media only screen and (max-width: 575px) {
            font-size: 18px;
        }
    }
}
.testimonial-user-slider-wrapper{
    margin: -20px;
    margin-top: 25px;
}
.testimonial-user-slider{
    overflow: hidden;
    padding: 20px;
}
.testimonial-user-wrapper{
    padding: 10px;
    display: flex;
    align-items: center;
    border: 1px solid $border--base;
    background-color: $white;
    box-shadow: 0px 6px 15px rgba(64, 79, 104, 0.05);
    text-align: left;
    border-radius: 90px;
    width: 100%;
    cursor: pointer;
    .testimonial-user-thumb{
        width: 70px;
        height: 70px;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 50%;
        }
    }
    .testimonial-user-content{
        width: calc(100% - 70px);
        padding-left: 30px;
        .title{
            margin-bottom: 0;
        }
        .sub-title{
            font-size: 14px;
        }
    }
}